.statistics {
    background-color: #DDD;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #010101;
}

.title {
    width: 700px;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    margin: 0;
    color: #555;
    box-sizing: border-box;
}

.statList {
    list-style: none;
    display: flex;
    width: 700px;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

.item {
    width: calc(100% / 5);
    padding: 16px 8px;
}

.label {
    display: block;
    font-size: 20px;
    margin-bottom: 16px;
}